name: Bazel Workflow

on:
  workflow_call:
    inputs:
#       repo_path:
#         description: "Path to the cloned repo"
#         required: true
#         type: string
      targets:
        description: "Artifacts to build"
        required: true
        type: string
      flags:
        description: "Flags for the bazel build command"
        required: false
        type: string
        default: ""
    
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout Repo
        uses: actions/checkout@v3
        with: 
          persist-credentials: false
          
      - name: Setup Bazelisk
        uses: bazelbuild/setup-bazelisk@v2
      
      - name: Build Artifacts
        env:
          # REPO_PATH: ${{ inputs.repo_path }}
          TARGETS: ${{ inputs.targets }}
          FLAGS: ${{ inputs.flags }}
          #cd ./${{ inputs.repo_path }} removed this after mkdir binaries couldnt comment might need
        run: | 
          set -euo pipefail

          mkdir binaries

          bazel build ${{ inputs.flags }} ${{ inputs.targets }}
          
          echo "built correctly"
          
          for TARGET in ${{ inputs.targets }}: do
            CD_PATH = ${TARGET%:*}
            echo "took off colon"
            
            CD_PATH = ${CD_PATH////}
            echo "took off slanted"
            
            BINARY_NAME = ${test#*:}
            cp bazel-bin/CD_PATH/BINARY_NAME ./binaries

      - name: 'Upload binaries'
        uses: actions/upload-artifact@v3
        with:
            name: binaries
            path: ./binaries #path/to/artifact
                    
       
